
  <div id="space">
        
         FIlter:<mat-button-toggle-group [(ngModel)]="filtering"><mat-button-toggle value="Cakes" class="btn" (click)="filterMethod()" >cakes</mat-button-toggle></mat-button-toggle-group>
        <mat-button-toggle-group [(ngModel)]="filtering"><mat-button-toggle value="Cookies" class="btn" (click)="filterMethod()">Cookies</mat-button-toggle></mat-button-toggle-group>
        <mat-button-toggle-group [(ngModel)]="filtering"><mat-button-toggle value="CupCakes" class="btn" (click)="filterMethod()">CupCakes</mat-button-toggle></mat-button-toggle-group>
        <mat-button-toggle-group [(ngModel)]="filtering"><mat-button-toggle value="chocolateCake" class="btn" (click)="filterMethod()">chocolates</mat-button-toggle></mat-button-toggle-group>

   
</div>

